body{
	font: 15px/1.5,Arial,Helvetica,sans-serif;
	background-color: #f4f4f4;
}

.contianer{
	width: 80%;
	margin: auto;
	overflow: hidden;


}

header{
	background:#35424A;
	color:#ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e8491d 3px solid;

}